<!-- tvoya pomoika register_page.html-->

{% extends "mainApp/wrapper.html" %}

{% load static %}

{% block page %}
<link href="{% static 'css/regchoice.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

<body>
        <div class="container">
        <div class="row">

                
                <div class="col s12 m4">
                        <figure class="snip1273">
                                <img src="https://i.imgur.com/okMYRAm.png" alt="sample72"/>
                                <figcaption>
                                  <h3>Fletch Skinner</h3>
                                  <p>I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway. </p>
                                </figcaption>
                                <a href="#"></a>
                              </figure>
                </div> 
        
                <div class="col s4 m4">
                        <figure class="snip1273">
                                <img src="https://i.imgur.com/okMYRAm.png" alt="sample21"/>
                                <figcaption>
                                  <h3>Indigo Violet</h3>
                                  <p>What's the point of wearing your favorite rocketship underpants if nobody ever asks to see 'em?</p>
                                </figcaption>
                                <a href="#"></a>
                              </figure>
                </div>
        
                <div class="col s4 m4">
                        <figure class="snip1273">
                                <img src="https://i.imgur.com/okMYRAm.png" alt="sample86"/>
                                <figcaption>
                                  <h3>Gunther Beard</h3>
                                  <p>Given that sooner or later we're all just going to die, what's the point of learning about integers?</p>
                                </figcaption>
                                <a href="#"></a>
                              </figure>
              </div>
        
        </div>
        </div>

      
              
              

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/govno.js' %}"></script>
</body>
{% endblock %}

