{% extends "mainApp/wrapper.html" %}

{% load static %}

{% block page %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-1" style = "font-family: 'Open Sans', sans-serif;">
            DIOGEN
        </h1>
        <div class="row center">
          <h5 class="header col s12 light">fuck u</h5>
        </div>
        <div class="row center">
          <a href="/admin" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/7.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">account_circle</i></h2>
            <h5 class="center">Находите новых музыкантов</h5>

            <p class="light">text1</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">location_on</i></h2>
            <h5 class="center">Концерты в вашем городе</h5>

            <p class="light">text2</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Создайте свою музыкальную группу</h5>

            <p class="light">legends never die.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
 

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">some text too?</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/template-7-768x432.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>
{% endblock %}