{% extends "mainPage/wrapper.html" %}



{% block page %}

{% load static %}
<link href="{% static 'css/tmp.css' %}" type="text/css" rel="stylesheet"/>
<link href="{% static 'css/spectre-exp.css' %}" type="text/css" rel="stylesheet"/>
<link href="{% static 'css/spectre-icons.css' %}" type="text/css" rel="stylesheet"/>


<div class="row" style="margin: 10px;">
  
  <div class="col s3"></div>
  <div class="col s6">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Поиск</label>
      </div>
    </div>
  </div>
  <div class="col s3"></div>
</div>
<div class="row coll">
  

  <div class="col s3"></div>
  <ul class="collection col s6">
        {% for person in  persons.all %}
        {% if person.nickname != '' %}
        <li  class="collection-item collection-item avatar">
          <a href="{% url 'detail' person.id %}">  
            <img src = "{{ person.image.url }}" class="circle" style="height: 50px; width: 50px;"/>
            <span class="title">{{ person.phone }}</span>
            <p style="margin-top: 10px;"> 
              
              <div class="chip">Флейта</div>
              <div class="chip">Твой дед</div> <br>
            </p>
            {% endif %}
        </li>
          
        {% endfor %}
      
        <a href="#">
          <li  class="collection-item collection-item avatar">
            <img src="{% static 'images/Gervant.png' %}" alt="" class="circle" style="height: 50px; width: 50px;">
            <span class="title">Alvin</span>
            <p style="margin-top: 10px;"> 
              <div class="chip">Флейта</div>
              <div class="chip">Твой дед</div> <br>
            </p>
          </li>
        </a>
        <a href="#">
            <li  class="collection-item collection-item avatar">
              <img src="{% static 'images/Gervant.png' %}" alt="" class="circle" style="height: 50px; width: 50px;">
              <span class="title">Alvin</span>
              <p style="margin-top: 10px;"> 
                <div class="chip">Флейта</div>
                <div class="chip">Твой дед</div> <br>
             </p>
            </li>
          </a>
        <!-- <p>First Line <br>
          Second Line
        </p> -->
        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
      
      
  </ul>
  <div class="col s3"></div>
</div>
<div class="row">
  <div class="col s2"></div>
  <div class="col s2" id="calendar">
  <div class="col s6  "></div>
</div>
</div>
<script src="{% static 'jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/jquery.simple-calendar.js' %}"></script>
<script>$(document).ready(function(){
    $("#calendar").simpleCalendar({
        fixedStartDay: false,
        events: ['2019-03-04', '2019-03-08', '2019-03-12', '2019-03-15'],
        eventsInfo: ['John\'s Birthday', 'Janet\'s Marriage','Graduation Day', 'Final Exams !'],
        selectCallback: function(date){
            console.log('date selected '+date);
        }
    });
  });</script>

{% endblock %}
