  
{% extends "mainPage/wrapper.html" %}
 

{% load static %}


{% block page %}
<div class="row">
  <div class="col s2 l2"></div>
  <div class="col s8 l2">
      {% for event in  event_follows %}
      <div class="govno" style="display: none;">

        
          <p class="names">{{event.event.name}}</p>
          <p class="dates">{{event.event.date}}</p>
        
      </div>
      {% endfor %}
  <div id="calendar"></div>
  </div>
  <div class="col s2 l1"></div>
  <div class="col s12 l5">
    <h5>РАРАРАРРА</h5>

  
    
    <div class="list" style="display: flex; flex-direction: column; height: 237px; overflow: auto; border: .05rem solid #dadee4;">
      <ul class="collapsible" style="margin-block-end: 0px;     margin-block-start: 0px;">

        

        <li>
          <div class="collapsible-header" tabindex="0">Events {% if len_events != 0 %}<span class="new badge">{{len_events}}</span>{%endif%}</div>
          <div class="cal collapsible-body" style="padding: 0rem;">
            
            {% for event in event_request %}
            <ul class="collection" event="{{event.event.pk}}"> 
                
              <li class="collection-item">
                <div> {{event.event.name}}
                    {% csrf_token %}   
                    <a href="#!" class="secondary-content  decline-event" dada="{{event.event.pk}}" act="False">
                        <i class="small material-icons">clear</i>
                    </a>
                  <a href="#" class="secondary-content accpet-event" dada="{{event.event.pk}}" act="True">
                      
                      <i class="small material-icons">check</i>
                    </a>
                    <a href="#!!!" class="secondary-content">
                        <i class="small material-icons">remove_red_eye</i>
                    </a>
                </div>
              </li>
            </ul>
            {% endfor %}
            
        </li>
        <li>
            <div class="collapsible-header" tabindex="0">Accepted events</div>
            <div class="cal collapsible-body" style="padding: 0rem;">
              
              {% for event in accepted_events %}
              <ul class="collection"> 
                  
                <li class="collection-item">
                  <div> {{event.event.name}}
                      {% csrf_token %}   
                      <a href="#!" class="secondary-content  decline-event" dada="{{event.event.pk}}" act="False">
                          <i class="small material-icons">clear</i>
                      </a>
                      <a href="#!!!" class="secondary-content">
                          <i class="small material-icons">remove_red_eye</i> 
                      </a>
                  </div>
                </li>
              </ul>
              {% endfor %}
              
          </li>
    </ul>
      
    </div>
  </div>
  <div class="col s3 l3"></div>

</div>


<div class="row" style="margin: 10px;">
  
    <div class="col s2 l3"></div>
    
    <form id="searchform" action="{% url 'MusiciansList' %}" method="get" accept-charset="utf-8">
    <div class="col s5 l5">



        <div class="selected-date" name="date" class="date">Nety
          <ul class="collapsible" style="margin-block-end: 0px;     margin-block-start: 0px;">

            {% for event in  event_list %}
            <li class="">
              <!-- Зочем таб.индекс нужен? Как сделать чтобы все изначально не разворачивались? -->
                <div class="collapsible-header" tabindex="0"> {{event.name}} <span class="badge">{{event.date}} </span></div>
                <div class="collapsible-body" style="display: none;"  event="{{event.event.pk}}">
                  <p> Описание: {{event.description}}</p>
                  <p> Адрес проведения: {{event.address}}</p>
                  <p> Выступают: {{event.group}}</p>
                  <p> Проводит: {{event.company.company}}</p>
    
                  
                   {% for follow in event_follows %}
                    {% if event.id == follow.event.id %}
                    <div class="follow"></div>
                    {% endif %}
                  {% endfor %}
                  
    
                  
                    {% csrf_token %}          
                    <button type="submit" id={{ event.id }} class='btn-small red btn-follow' style="margin-top: 30px;">Follow</button>
                  <!-- </form> -->
    
                  
                 
                </div>
                
            </li>
            {% endfor %}
            
    
            <li>
              <div class="collapsible-header" tabindex="0">First<span class="new badge">4</span></div>
              <div class="collapsible-body" style=""><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
        </ul>
        </div>


      <div class="input-field col s12">
        <input type="text" id="autocomplete-input" class="autocomplete nick" name="q">
        <label for="autocomplete-input">Поиск</label>
      </div>
   
   
   
      <div class="input-field col s6">
        <input type="text" id="autocomplete-input" class="autocomplete instr" name="instrs">
        <label for="autocomplete-input">Инструменты</label>
      </div>
   
 
 
        <div class="input-field col s6">
          <input type="text" id="autocomplete-input" class="autocomplete genre" name="genres">
          <label for="autocomplete-input">Жанры</label>
        </div>
       
      <div class="row center">
       
      </div>
 
    </div>
  </div>
<!-- <div class="search"> -->
<div>
  <div class="row coll">
    

      <div class="col s3"></div>
      <ul class="collection col s6 sbox">
        {% csrf_token %}                                
        {% for person in  musician_list %}
        {% if person.nickname != '' %}
        <a href="{% url 'profile' person.id %}">  
        <li  class="collection-item collection-item avatar">
         
            <img src = "{{ person.image.url }}" class="circle" style="height: 50px; width: 50px;"/>
            <span class="title">{{ person.nickname}}</span>
       
            {% with instrumentlist=person.instruments.split %}
            <p style="margin-top: 10px;">
            {% for instrument in  instrumentlist %}
              <div class="chip">
                {{instrument}}
              </div>    
            {% endfor %}
            {% endwith %}
            </p>
            <p style="margin-top: 10px;">
             
            </p>
            {% endif %}
        </li>
        </a>
        {% endfor %}
   
    </ul>
    <div class="col s3"></div>
  </div>
</div>

</div>
<!-- <script src="{% static 'jquery-2.1.4.min.js' %}"></script> -->

<script src="{% static 'js/jquery.simple-calendar.js' %}"></script>

<script>
  $(".accpet-event, .decline-event").click(function(e) {
    $.ajax({
      type: "POST", 
      url: "acceptevent/",
      dataType : "json",
      data: {
        "id": $(this).attr('dada'),
        "csrfmiddlewaretoken" : $(this).siblings("input[name='csrfmiddlewaretoken']" ).val(),
        "act": $(this).attr('act'),
        "parent": $(this).parent().parent().parent().attr('event')
      },
      success: function(data) {
        $($(document).find('[event=' + data['parent'] + ']')).remove()
      }});
  
  
  });
</script>


<script>
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });

  $(".nick, .instr, .genre").keyup(function(e) {
    $.ajax({
      type: "GET", 
      url: "",
      data: {
        'q': $(".nick").val(),
        'instrs': $(".instr").val(),
        'genres': $(".genre").val(),
        
      },
      success: function(data) {

        $(".sbox").html(($(data).find(".sbox").remove(".sbox").html()))

      }
    });
  
  
  });


  $(".btn-follow").click(function(e) {
    $.ajax({
      type: "POST", 
      url: "updfollow/",
      dataType : "json",
      data: {
        "id": $(this).attr('id'),
        "csrfmiddlewaretoken" : $(this).siblings("input[name='csrfmiddlewaretoken']" ).val(),
        
      },
      success: function(data) {
        if (data['followed']) {
          $('#' + data['id']).parent().append('<div class="follow"></div>');
          console.log('da');
        }
        else {
          console.log($('#' + data['id']).parent().html());
          $('#' + data['id']).parent().find('.follow').remove();
        };
        
        follow_btn();

      },
      error: function(){
        console.log('daddta');
      }
    });
  
  
  });

  function follow_btn() {
    $(".follow").hide();
    $('.btn-follow').text("Follow");
    
    
    $($(('.follow')).parent().find('.btn-small')).text("Unfollow");
  };

  $(document).ready(follow_btn());
</script>

<script>
  
</script>

<script> 
    $(document).ready(function(){
     $(".search") .hide();
    });
    $(".srh").click( function() {
      $(".search").show();
    });

</script>

<script>$(document).ready(function(){

    $("#calendar").simpleCalendar({
        fixedStartDay: false,
        events: $('.govno').children('.dates').text(function(i, s) {return s + "#";}).text().split('#'),
        eventsInfo: $('.govno').children('.names').text(function(i, s) {return s + "#";}).text().split('#'),
        selectCallback: function(date){
          $('.selected-data').text(date);
          $.ajax({
            type: "GET", 
            url: "",
            data: {
              //csrfmiddlewaretoken: getCookie('csrftoken'),
              'date': date,
              
            },
            success: function(data) {
              //console.log($(data).find(".selected-date").html());
              //console.log($(data).find(".sbox").remove(".sbox").html());
              $(".selected-date").html($(data).find(".selected-date").html())
              //$(document).html(data)
            }
          })}
    });
  });</script>

<script>$(document).ready(function(){
  $('select').formSelect();
});</script>
<link href="{% static 'css/spectre.css' %}" rel="stylesheet"/>
<link href="{% static 'css/spectre-exp.css' %}" type="text/css" rel="stylesheet"/>
<link href="{% static 'css/spectre-icons.css' %}" type="text/css" rel="stylesheet"/>

{% endblock %}

