{% extends "mainPage/wrapper.html" %}

{% load static %}


{% block page %}
    <div class="row">

    <div class="col s3 m3 l3">
        
    </div>
    <div class="col s6 m6 l6">
            <h3>Ваши мероприятия:</h3>

                <ul class="collapsible" style="margin-block-end: 0px; margin-block-start: 0px;">
            
                    {% for event in  context %}
                    <li class="active">
                    <!-- Зочем таб.индекс нужен? Как сделать чтобы все изначально не разворачивались? -->
                        <div class="collapsible-header" tabindex="0"> {{event.name}} <span class="badge">{{event.date}} </span></div>
                        <div class="collapsible-body" style="display: none;">
                        <p> Описание: {{event.description}}</p>
                        <p> Адрес проведения: {{event.address}}</p>
                        <p> Выступают: {{event.group}}</p>
                        <p> Проводит: {{event.company.company}}</p>
            
                        
                        <form id="" action={% url 'EventUpdate' pk=event.pk %}>
                            {% csrf_token %}          
                            <button type="submit", class='btn-small green ' style="margin-top: 30px;">Update</button>
                        </form>

                        <form id="" action={% url 'EventDelete' event.pk %}   method="post" accept-charset="utf-8">
                            {% csrf_token %}          
                            <button type="submit", class='btn-small red' style="margin-top: 30px;">Delete</button>
                        </form>
                
            
                        
                        </div>
                        
                    </li>
                    {% endfor %}
                
                </ul>
                    
             
            <!-- <ul class="collection sbox">
                {% for event in context %}
              
                    
                        <li  class="collection-item collection-item avatar">
                            
                            <span class="title">{{ event.name }}</span>
                            <div>
                                <p>Адрес: {{ event.address }}</p>
                                <p>Дата: {{ event.date }}</p>
                                <p>Описание: {{ event.description }}</p>
                                <p>Компания: {{ event.company.company }}</p>

                                <form id="" action={% url 'EventUpdate' event.pk %}   method="post" accept-charset="utf-8">
                                    {% csrf_token %}          
                                    <button type="submit", class='btn-small green col s6 m6 l5' style="margin-top: 30px;">Update</button>
                                </form>

                                <div  class=' col s1 m1 l1' > </div>

                                <form id="" action={% url 'EventDelete' event.pk %}   method="post" accept-charset="utf-8">
                                    {% csrf_token %}          
                                    <button type="submit", class='btn-small red col s6 m6 l5' style="margin-top: 30px;">Delete</button>
                                </form>
                                <div  class='row' > </div>
                                
                                
                            </div>
                            
                          
                            
                            <p style="margin-top: 10px;"> 
                                
                            </p>
                            
                        </li>
                    
                {% endfor %}
                
            
            </ul> -->
            <div class="col s3 m3 l4"></div>
            <a href="/newevent/" class='btn-large red' style="margin-top: 30px;">Новое мероприятие</a>
        

        
    </div>
    <div class="col s3 m3 l3">
       
    </div>
    </div>

    <!-- <script>
        $('#desc').val('New Text');
        M.textareaAutoResize($('#desc'));
    </script>
     -->
    
     <script>
            $(document).ready(function(){
              $('.collapsible').collapsible();
            });
    </script>        
{% endblock %}
