<!-- tvoya pomoika register_page.html-->

{% extends "mainPage/wrapper.html" %}

{% load static %}

{% block page %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">

<link href="{% static 'css/regchoice.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

<link href="{% static 'css/regchoice.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link rel="stylesheet" href="http://foliotek.github.io/Croppie/croppie.css" />

{{ form.media }}

        <section class="container text">
                
            <div class="row center">
                <div class="col col1 s3"></div>
                <div class="col col1 s6">
                        <h2>Обновление профиля</h2>
                        
                        <img src="{{person.image.url}}">
                        
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="form-group">
                         
                        
                                <p>{{ context }}</p>
                                        
                                {% if user.profile.company != ''  %}
                                {{form.adress.label_tag}}
                                {{form.adress}}
                                {{form.phone.label_tag}}
                                {{form.phone}}
                                {{form.description.label_tag}}
                                {{form.description}}

                                {{form.company.label_tag}}
                                {{form.company}}
                                
                
                                
                                {% endif %}

                                {% if user.profile.nickname != '' %}
                                {{form.birth_date.label_tag}}
                                {{form.birth_date}}
                                {{form.adress.label_tag}}
                                {{form.adress}}
                                {{form.phone.label_tag}}
                                {{form.phone}}
                                {{form.description.label_tag}}
                                {{form.description}}

                                {{form.nickname.label_tag}}
                                {{form.nickname}}
                                {{form.genres.label_tag}}
                                {{form.genres}}
                                {{form.instruments.label_tag}}
                                {{form.instruments}}
                                {{form.soundcloud.label_tag}}
                                {{form.soundcloud}}

                                {% else %}
                                {{form.birth_date.label_tag}}
                                {{form.birth_date}}
                                {{form.adress.label_tag}}
                                {{form.adress}}
                                {{form.phone.label_tag}}
                                {{form.phone}}
                                {{form.description.label_tag}}
                                {{form.description}}
                                {% endif %}
                        
                                


                                

                                
                                {{form.image.label_tag}}
                                {{form.image}}
                                <div class="preview"></div>

                                
                        
                                </div>
                                <div class="row"></div>
                                <input type="submit" value="Обновить профиль" class="btn-large red">
                        </form>
                    
                    
                </div>
                <div class="col col1 s3"></div>
            </div>

                                        
                                                          
                
        </section>

        

        <script src="{% static 'js/govno.js' %}"></script>
        <script src="{% static 'js/croppie.js' %}"></script>
        <script>
       
    
    
        function readFile(input) {
                $sel = $(input).parent().children('.preview');
                $sel.croppie('destroy');
                $sel.croppie({
                    viewport: { width: 250, height: 250, type: 'circle'},
                    boundary: { width: 300, height: 300 },
                    showZoomer: true,
                    
                    });
                    $sel.on('update.croppie', function() {cropper($sel)})
                    if (input.files && input.files[0]) {
                            var reader = new FileReader();
    
                            reader.onload = function (e) {
                                    $sel.show();
                                    $sel.croppie('bind', {
                                    url: e.target.result
                                    });
                            }
    
                    reader.readAsDataURL(input.files[0]);
                    }
            }
            $(document).ready(function() {$('.preview').hide();});
            $('.avatar').on('change', function () { readFile(this); });
            
            
            function cropper(input) {
                    $i = ($(input).parent().children('#id_image'));
                    const dt = new DataTransfer()
                    $(input).croppie('result', {
                            type: 'blob',
                            size: 'viewport'
                    }).then(function (resp) {
                            dt.items.add(new File([resp], "cropped.png"));
                            $i[0].files = dt.files;
                    })
                    
            }
            
    
    
        </script>
                
                


</body>


{% endblock %}

