{% extends "mainPage/wrapper.html" %}



{% block page %}

<!doctype html>
<html>
    <head>
        <title> {{ profile.name }}</title>
    </head>
<body>
        <h1> {{ profile.name }}</h1>
            <p>{{ profile.registertime }}</p>

        <center>
            <img src = "{{ profile.image.url }}"  height=”300” width=”400”/>
            {{ userprofile.email}}
            {{userprofile.first_name}}
            {{userprofile.last_name}}
            {{profile.instruments}}
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4>Группки</h4>
                <div class="input-field col s12">
                        <select multiple style="display: none;">
                            <option value="" disabled selected>Choose your option</option>
                            {% for field in groups %}
                            <option value="{{field.group.pk}}">{{field.group}}</option>
                            {% endfor %}
                        </select>
                        
                    </div>
              </div>
              <div class="modal-footer">
                <div class="row center">
                {% csrf_token %}
                <a class="waves-effect waves-light btn send"  da={{ profile.pk }} >Send</a>
                </div>
              </div>
            </div>
            
            
            
        </center>
<br/>

  </body>
</html>


<script>
$(document).ready(function(){
    $('.modal').modal();
    //$.when( $('select').on('change', function() {})).then( function() {console.log($('select').formSelect('getSelectedValues'));})
  });

  $('.send').click(function() {
      $.each($('select').formSelect('getSelectedValues'), function(ind, val) {
        $.ajax({
                type: "POST", 
                url: "/requestgroup",
                dataType : "json",
                data: {
                  //"id": $('select').formSelect('getSelectedValues'),
                  "group": val,
                  "user": $('.send').attr('da'),
                  "csrfmiddlewaretoken" : $("input[name='csrfmiddlewaretoken']").val()
                },
                success: function(data) {
                }
                    
            }
        )
      })
  })

//   href="/requestgroup/{{ profile.pk }}"

  $(document).ready(function(){
            $('select').formSelect();
    });


</script>
{%endblock%}