{% extends "mainPage/wrapper.html" %}
{% block page %}
<div class="row"></div>  
        <div class="row flex flex-2 deg">
                <div class="col col1 s3">
                                
                            
                </div>        
            
            <div class="col col2 s6">
<p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
</div>
<div class="col col1 s2">
        <!--left banner-->
</div>  
</div>
<div class="row flex"></div> 
{% endblock %}
