{% extends "mainPage/wrapper.html" %}

{% load static %}


{% block page %}
<div class="row center">

    <div class="col s3 m3 l3">
        
    </div>
    <div class="col s6 m6 l6">
        <h3>Группа</h3>
        <img src="{{object.image.url}}">
        <h5> {{object.name}}</h5>
        <p> {{object.description}} </p>
        <h5> {{object.genres}} </h5>
        <h5> {{object.instruments}} </h5>
        <h5> {{object.soundcloud}} </h5>
        <h5> {{object.create_date}} </h5>
        

    </div>
    <div class="col s3 m3 l3">
        
    </div>
</div>

{% endblock %}

